.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:200px;
  height: 80px;
}

.image {
  width: 200px;
  height: 300px;
}

.release_date {
  color: red;
}

/*.stars {*/
/*  width: 200px;*/
/*}*/

