a, h1 {
  color: black;
}

h1 {
  font-size: xx-large;
}

p{
  color: white;
}

.movieDetails {
  height: 700px;
}

.movieDescription {
  background-color: #605f5f;
  width: 35%;
  box-shadow: 100px 0 70px -2px black;
  padding-bottom: 10px;
}

.casts {
  display: flex;
  overflow-x: scroll;
  background-color: white;
}

.genreName {
  display: flex;
  flex-wrap: wrap;
}

.genreName p {
  margin: 5px;
  color: darkred;
  font-size: 16px;
}
